.actionButton {
  /* background-color: #34cceb; */
  border-radius: 6px;
  margin: 5px;
  padding: 5px;
}

.nav__list {
  display: flex;
}

.nav__list li {
  background-color: #34cceb;
  border-radius: 6px;
  cursor: pointer;
  padding: 5px;
  margin-left: 20px;
  list-style-type: none;
}

.nasa_cards__container {
  background-color: black;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.nasa_card__title {
  cursor: pointer;
  background-color: yellow;
}

.nasa_card__container {
  background-color: #8334eb;
  border-radius: 8px;
  height: 420px;
  padding: 5px;
  text-align: center;
}

.nasa_card__img {
  background-color: #34ebab;
}

img {
  max-width: 40%;
  max-height: 40%;
}

.nasa_card__desc {
  background-color: aqua;
}
